@import 'styles/variables';

.firstScreen {
  background: #FFF1EC url('/images/bg-gradient-medium.jpg') no-repeat center/cover;

  :global {
    .left-card {
      position: absolute;
      bottom: 50%;
      right: calc(100% + 2rem);
    }
    .right-card {
      position: absolute;
      top: 1rem;
      left: calc(100% + 1rem);
    }
    .wrapper {
      max-width: max-content;
      .title  {
        max-width: max-content;
      }
    }
  }
}

.content {
  font-size: 20px;
  line-height: 1.4;

  :global {
    strong {
      color: inherit;
    }
    h1 {
      font-size: 1rem;
    }
    h2 {
      font-size: 48px;
    }
    h3 {
      font-size: 32px;
    }
    h4 {
      font-size: 20px;
    }
    p:empty {
      height: 1.5rem;
    }
    p:not(:empty), h4 {
      + p, + ul, + ol {
        margin-top: 1rem;
      }
    }
    a {
      font-weight: 500;
      color: $color-blue;
    }
    ul, ol {
      list-style: none;
      li {
        padding-left: 1.5rem;
        position: relative;

        &::before {
          content: '';
          display: block;
          width: 0.5rem;
          height: 0.5rem;
          border-radius: 50%;
          position: absolute;
          left: 0;
          top: 0.5rem;
          background-color: $color-orange;
        }

        + li, li {
          margin-top: 1.5rem;
        }

        li {
          padding-left: 2rem;

          &::before {
            width: 1rem;
            height: 2px;
            top: 0.75rem;
          }
        }
      }
    }
    blockquote {
      background-color: #F9FAFB;
      padding: 0.5rem 2rem;

      &:first-of-type {
        padding-top: 2rem;
        border-radius: 1rem 1rem 0 0;
        strong {
          font-size: 2rem;
        }
      }

      &:last-of-type {
        padding-bottom: 2rem;
        border-radius: 0 0 1rem 1rem;
      }
    }
  }
}