# Logs
/logs
*.log
npm-debug.log*

# Mac files
.DS_Store

# Dependency directories
/node_modules

# Lock files
package-lock.json
/package-lock.json
/yarn.lock

# IDE and editors
.idea
.vscode

# dotenv environment variables file
.env