@import 'styles/variables';

.rated {
  overflow: hidden;
  position: relative;

  :global {
    .section-background {
      z-index: -1;
    }
    .wrapper {
      flex-wrap: wrap;
      @media (min-width: $xl) {
        flex-wrap: nowrap;
        transform: translate(calc((100vw - 80rem) / 2), 0);
      }
    }
    .content {
      max-width: 100%;
      align-items: center;
      @media (min-width: $xl) {
        align-items: initial;
        min-height: 100vh;
        max-width: 18.5rem;
      }
    }
    .section-title {
      text-align: center;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      @media (min-width: $xl) {
        text-align: left;
        padding-left: 0;
        padding-right: 0;
      }
    }
    .description {
      text-align: center;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      @media (min-width: $xl) {
        text-align: left;
        padding-left: 0;
        padding-right: 0;
      }
    }
    .btn {
      @media (min-width: $xl) {
      }
    }
    .swiper:not(.swiper-vertical) .swiper-slide {
      max-width: max-content;
    }
    .swiper.swiper-vertical {
      height: 100%;
    }
    .card {
      max-width: 250px;
      border-radius: 4px;
      @media (min-width: $xl) {
        max-width: 350px;
      }
      .reviewContent {
        height: 9rem;
        @media (min-width: $xl) {
          height: initial;
        }
      }
    }
  }
}
