@import 'variables';

.block {
  display: block;
}
.flex {
  display: flex;
}
.flex-1 {
  flex: 1;
}
.flex-col {
  flex-direction: column;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}

.gap-8 {
  gap: 2rem;
}


.fz-12p {
  font-size: 0.75rem; // 12px
}
.fz-14p {
  font-size: 0.875rem; // 14px
}
.fz-16p, .fz-1rem {
  font-size: 1rem;
}
.fz-18p {
  font-size: 1.125rem; // 18px
}
.fz-20p {
  font-size: 1.25rem; // 20px
}
.fz-22p {
  font-size: 1.375rem; // 22px
}
.fz-24p {
  font-size: 1.5rem; // 24px
}
.fz-32p {
  font-size: 2rem; // 32px
}
.fz-36p {
  font-size: 2.25rem; // 32px
}
.fz-40p {
  font-size: 2.5rem; // 40px
}
.fz-48p {
  font-size: 3rem; // 48px
}
.fz-86p {
  font-size: 5.375rem; // 86px
}


.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.fw-800 {
  font-weight: 800;
}

.text-center {
  text-align: center;
}
.uppercase {
  text-transform: uppercase;
}

.color-lightGray {
  color: $light-text-color;
}
.color-blue {
  color: $color-blue;
}
.bg-white {
  background-color: $color-white;
}
.bg-lightGray {
  background-color: $color-light-gray;
}
.bg-orange {
  background-color: $color-orange;
}
.bg-blue {
  background-color: $color-blue;
  color: $color-white;
}



.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.top-0 {
  top: 0;
}

.w-full {
  width: 100%;
}
.w-1\/2 {
  width: 50%;
  &_lg {
    @media (min-width: $lg) {
      width: 50%;
    }
  }
}
.rounded-small {
  border-radius: 0.5rem;
}