@import 'variables';

.block {
  display: block;
}
.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-1 {
  flex: 1;
}
.flex-col {
  flex-direction: column;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.grid {
  display: grid;
}
.grid-columns-3 {
  grid-template-columns: repeat(3, 1fr);
}

.gap-4 {
  gap: 1rem;
}
.gap-8 {
  gap: 2rem;
}


.fz-12p {
  font-size: 0.75rem; // 12px
}
.fz-14p {
  font-size: 0.875rem; // 14px
}
.fz-16p, .fz-1rem {
  font-size: 1rem;
}
.fz-18p {
  font-size: 1.125rem; // 18px
}
.fz-20p {
  font-size: 1.25rem; // 20px
}
.fz-22p {
  font-size: 1.375rem; // 22px
}
.fz-24p {
  font-size: 1.5rem; // 24px
}
.fz-32p {
  font-size: 2rem; // 32px
}
.fz-36p {
  font-size: 2.25rem; // 32px
}
.fz-40p {
  font-size: 2.5rem; // 40px
}
.fz-48p {
  font-size: 3rem; // 48px
}
.fz-64p {
  font-size: 4rem; // 64px
}
.fz-86p {
  font-size: 5.375rem; // 86px
}


.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.fw-800 {
  font-weight: 800;
}

.l-height-1 {
  line-height: 1;
}
.l-height-1\/1 {
  line-height: 1.1;
}
.l-height-1\/2 {
  line-height: 1.2;
}
.l-height-1\/4 {
  line-height: 1.4;
}
.l-height-1\/5 {
  line-height: 1.5;
}

.text-center {
  text-align: center;
}
.uppercase {
  text-transform: uppercase;
}

.color-lightGray {
  color: $light-text-color;
}
.color-blue {
  color: $color-blue;
}
.color-black {
  color: $color-black;
}
.color-white {
  color: $color-white;
}
.bg-white {
  background-color: $color-white;
}
.bg-lightGray {
  background-color: $color-light-gray;
}
.bg-orange {
  background-color: $color-orange;
}
.bg-blue {
  background-color: $color-blue;
  color: $color-white;
}

.bg-lightBlue {
  background-color: #EDF0FF;
}


.transition {
  transition: all 0.2s linear;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.top-0 {
  top: 0;
}
.right-0 {
  right: 0;
}
.inset-0 {
  inset: 0;
}

.h-full {
  height: 100%;
}
.w-full {
  width: 100%;
}
.w-1\/4 {
  width: 25%;
}
.w-1\/2 {
  width: 50%;
  &_lg {
    @media (min-width: $lg) {
      width: 50%;
    }
  }
}
.border {
  border: 1px solid;
}
.border-light {
  border: 1px solid #E6E7ED;
}
.rounded-xSmall {
  border-radius: 0.25rem;
}
.rounded-small {
  border-radius: 0.5rem;
}
.rounded-rem {
  border-radius: 1rem;
}
.border-round {
  border-radius: 50%;
}
.shadow-light {
  box-shadow: 0 8px 19px rgba(0, 0, 0, 0.1);
}
.shadow-medium {
  box-shadow: 14px 14px 58px rgba(0, 18, 86, 0.08);
}
.pointer {
  cursor: pointer;
}
.overflow-hidden {
  overflow: hidden;
}