@import 'indentation';
@import 'atomic';

*, ::before, ::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

//img {
//  display: block;
//}
img, svg {
  max-width: 100%;
}
svg {
  max-height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
}
ul, ol {
  list-style: none;
}
strong {
  font-weight: 600;
  color: $color-blue;
}
code {
  font: inherit;
  color: $color-blue;
}

html {
  box-sizing: border-box;
  font-family: $primary-font;
  font-size: $basic-font-size;
  line-height: 1.8;
  font-weight: 400;
  font-style: normal;
  color: $default-text-color;

  @media (min-width: $fhd) {
    font-size: $large-font-size;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
}
#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  //background-color: #F9FAFB;
}

.container {
  width: 100%;
  max-width: 80rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.container.wide {
  max-width: 86rem;
}
.container.narrow {
  max-width: 68rem;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: inline-block;
  font-weight: 600;
  border-radius: 4px;
  min-width: 13.5rem;
  padding: 1.25rem;
  font-size: 1.25rem;
  line-height: 1.2;
  text-align: center;
  border: none;
  cursor: pointer;
}
.btn.disabled {
  opacity: 0.3;
  pointer-events: none;
}
.btn:hover {
  text-decoration: none;
}
.btn.small {
  font-size: 1rem;
  line-height: 1.375;
  padding: 0.75rem;
  min-width: 8rem;
}
.btn.large {}
.btn.btn-gray {
  background-color: #D8DAE5;
  color: $default-text-color;
}
.btn.btn-blue {
  background-color: $color-blue;
  color: $color-white;
}
.btn.btn-blue:hover {
  background-color: #4053B0;
}
.btn.btn-white {
  background-color: $color-white;
  color: $color-blue;
}


.main-title {
  font-size: 2.5rem;
  line-height: 0.95;
  @media (min-width: $lg) {
    font-size: 5.375rem;
  }
}

.round {
  border-radius: 50%;
  &::before {
    content: '';
    display: block;
    padding-top: 100%;
  }
}
.image.float-left {
  @media (min-width: $lg) {
    float: left;
  }
}
.image.float-right {
  @media (min-width: $lg) {
    float: right;
  }
}

.ordered-list {
  li {
    counter-increment: index;
    display: flex;
    align-items: flex-start;

    + li {
      margin-top: 1.5rem;
    }
    &::before {
      content: "0" counter(index);
      display: block;
      width: 44px;
      min-width: 44px;
      height: 44px;
      border-radius: 50%;
      background: rgba(245, 124, 64, 0.12);
      font-weight: 600;
      line-height: 44px;
      text-align: center;
      letter-spacing: 0.03em;
      color: #F57C40;
      margin-right: 2rem;
    }
  }
}

input:focus {
  outline: $color-blue;
  border-color: $color-blue;
}
label.error input {
  border-color: #F57C40;
}
label.error .error-wrap {
  top: 2.5rem;
  right: 0.5rem;
}
label.error .error-wrap .svg-wrap {
  cursor: pointer;
}

label.error .error-wrap .errors {
  display: none;
  background: #FFF1EC;
  box-shadow: 3px 4px 20px rgba(180, 111, 78, 0.08);
  border-radius: 4px;
  min-width: min-content;
  width: 165px;
  max-width: 165px;
  padding: 1em;
  color: #F57C40;
  top: 100%;
  right: 0;
  z-index: 2;
}
label.error .error-wrap:hover .errors {
  display: block;
}