@import 'indentation';

*, ::before, ::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

img, svg {
  max-width: 100%;
}

html {
  box-sizing: border-box;
  font-family: $primary-font;
  font-size: $basic-font-size;
  line-height: 1.8;
  font-weight: 400;
  font-style: normal;
  color: $default-text-color;

  @media (min-width: $fhd) {
    font-size: $large-font-size;
  }
}

.container {
  width: 100%;
  max-width: 80rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}
.container.wide {
  max-width: 86rem;
}

.btn {
  display: inline-block;
  font-weight: 600;
  border-radius: 4px;
  min-width: 13.5rem;
  padding: 1.25rem;
  font-size: 1.25rem;
  line-height: 1.2;
  text-align: center;
}
.btn.small {
  font-size: 1rem;
  line-height: 1.375;
  padding: 0.75rem;
  min-width: 8rem;
}
.btn.large {}
.btn.btn-gray {
  background-color: #D8DAE5;
  color: $default-text-color;
}
.btn.btn-blue {
  background-color: $color-blue;
  color: $color-white;
}
.btn.btn-white {
  background-color: $color-white;
  color: $color-blue;
}
.fz-14p {
  font-size: 0.875rem; // 14px
}
.fz-18p {
  font-size: 1.125rem; // 18px
}
.fz-20p {
  font-size: 1.25rem; // 20px
}
.fz-22p {
  font-size: 1.375rem; // 22px
}
.fz-24p {
  font-size: 1.5rem; // 24px
}
.fz-32p {
  font-size: 2rem; // 32px
}
.fz-36p {
  font-size: 2.25rem; // 32px
}
.fz-40p {
  font-size: 2.5rem; // 40px
}
.fz-48p {
  font-size: 3rem; // 48px
}
.fz-86p {
  font-size: 5.375rem; // 86px
}
.color-blue {
  color: $color-blue;
}


.main-title {
  font-size: 2.5rem;
  @media (min-width: $lg) {
    font-size: 5.375rem;
  }
}