@import 'indentation';

*, ::before, ::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

img, svg {
  max-width: 100%;
}

html {
  box-sizing: border-box;
  font-family: $primary-font;
  font-size: $basic-font-size;
  line-height: 1.8;
  font-weight: 400;
  font-style: normal;
  color: $default-text-color;

  @media (min-width: $fhd) {
    font-size: $large-font-size;
  }
}
