@import '../../../styles/variables';

.dropdown {
  :global {
    .current {
      //border-bottom: 1px solid rgba(75, 74, 91, 0.2);
      line-height: 16px;
      &::after {
        //content: url('/icons/chevron-down.svg');
        position: absolute;
        right: 0;
        top: 0.5rem;
        transition: all 0.2s linear;
        line-height: 0.5rem;
      }
      &.visible {
        opacity: 1;
        &::after {
          transform: rotate(180deg);
        }
      }
      &:hover {
        opacity: 1;
      }
    }
    .select-list {
      left: 0;
      top: calc(100% + 0.5rem);
      max-height: 0;
      border-radius: 0.25rem;
      overflow: hidden;
      padding: 0;
      z-index: 3;
      &.visible {
        box-shadow: 0 2px 60px rgba(109, 66, 27, 0.06);
        max-height: 50vh;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        overflow: auto;
      }
      .item {
        padding: 0.25rem 1rem;
        .icon {
          max-width: 1rem;
          margin-right: 0.5rem;
          line-height: 1;
          path {
            //fill: $color-darkgray;
            transition: all 0.2s linear;
          }
        }
        &.disable {
          pointer-events: none;
          opacity: 0.7;
        }
        &:hover {
          //color: $color-red;
          svg {
            path {
              //fill: $color-red;
            }
          }
        }
      }
    }
  }
}