@import 'styles/variables';

.section {
  z-index: 1;

  &::before {
    content: '';
    display: block;
    width: 50%;
    aspect-ratio: 4/3;
    background: rgba(176, 190, 255, 0.4);
    filter: blur(300px);
    position: absolute;
    left: 0;
    top: 40%;
    z-index: -2;
  }
  &::after {
    content: '';
    display: block;
    width: 50%;
    aspect-ratio: 4/3;
    background: rgba(225, 220, 207, 0.8);
    filter: blur(200px);
    position: absolute;
    right: 0;
    top: 40%;
    z-index: -1;
  }
}

.mainInfo {
  :global {
    .avatar {
      width: 100%;
      max-width: 16rem;
      aspect-ratio: 1/1;
    }
    .teach {
      display: inline-block;
      line-height: 1.2;
      background-color: #F4F5FA;
      border-radius: 4px;
      padding: 0.25rem 0.5rem;
    }
  }
}

.vettedTutor {
  background-color: #EDF0FF;

  :global {
    .title {
      span {
        text-decoration: underline;
      }
    }
    strong {
      color: inherit;
    }
  }
}

.experience {
  background: #FFF1EC url('/images/illustration.png') no-repeat right center/contain;

  :global {
    .activity {
      display: inline-block;
      padding: 0.5rem 1rem;

      + .activity {
        margin-left: 1rem;
      }
    }
  }
}

.findTutor {
  :global {
    .avatar {
      max-width: 13rem;
      aspect-ratio: 3/4;
    }
    .card {
      background-image: url('/images/graph.png');
      background-repeat: no-repeat;
      background-position-y: center;
      background-position-x: calc(100% - 3rem);
      width: 100%;
      max-width: 38rem;
    }
    .text {
      width: 100%;
      max-width: 20.5rem;
    }
    .flexible {
      top: -2rem;
      right: 2rem;
      max-width: 13rem;
      box-shadow: 14px 14px 58px rgba(0, 18, 86, 0.08);
    }
    .controlPanel {
      right: 2rem;
      bottom: 2rem;
    }
  }
}