@import 'styles/variables';

.section {

}

.mainInfo {
  :global {
    .avatar {
      width: 100%;
      max-width: 16rem;
      aspect-ratio: 1/1;
    }
    .teach {
      display: inline-block;
      line-height: 1.2;
      background-color: #F4F5FA;
      border-radius: 4px;
      padding: 0.25rem 0.5rem;
    }
  }
}

.vettedTutor {
  background-color: #EDF0FF;

  :global {
    .title {
      b {
        color: #F57C40;
        text-decoration: underline;
      }
    }
    strong {
      color: inherit;
    }
  }
}

.experience {
  background: #FFF1EC url('/images/illustration.png') no-repeat right center/contain;

  :global {
    .activity {
      display: inline-block;
      padding: 0.5rem 1rem;

      + .activity {
        margin-left: 1rem;
      }
    }
  }
}

.findTutor {
  :global {
    .avatar {
      max-width: 13rem;
      aspect-ratio: 3/4;

      .live {
        top: 1rem;
        left: 1rem;
        display: inline-block;
        padding: 0.25rem 0.5rem;
        z-index: 3;
        border-radius: 4px;
      }
    }
    .card {
      background-image: url('/images/graph.png');
      background-repeat: no-repeat;
      background-position-y: center;
      background-position-x: calc(100% - 3rem);
      width: 100%;
      max-width: 38rem;
    }
    .text {
      width: 100%;
      max-width: 20.5rem;
    }
    .flexible {
      top: -2rem;
      right: 2rem;
      max-width: 13rem;
      box-shadow: 14px 14px 58px rgba(0, 18, 86, 0.08);
    }
    .controlPanel {
      right: 2rem;
      bottom: 2rem;
    }
  }
}