@import 'styles/variables';

.card {
  position: relative;
  color: $color-white;

  :global {
    .section-background {
      z-index: -1;
      border-radius: 0.5rem;
    }
    .medium-title {
      max-width: 40rem;
    }
    .content {
      max-width: 30rem;
      opacity: 0.85;
      @media (min-width: $lg) {
        font-size: 20px;
        opacity: 1;
      }
      a {
        text-decoration: underline;
      }
    }
    .btn {
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
    }
  }
}
