@import 'styles/variables';

.firstScreen {
  background: #FFF1EC url('/images/bg-first-section.jpg') no-repeat center/cover;

  :global {
    .left-card {
      max-width: 14.375rem;
      box-shadow: 14px 14px 58px rgba(0, 18, 86, 0.04);
      border-radius: 8px;
      padding: 1.5rem 1rem 1rem 1.5rem;
      position: absolute;
      top: 50%;
      left: 0;
      text-align: left;
    }
    .lesson1 {
      top: 50%;
      right: 0;
      max-width: 120px;
      padding: 1.5rem 1.25rem 1.125rem;
      .play {
        width: 3.25rem;
        cursor: pointer;

        &:after {
          content: "";
          display: block;
          width: 0;
          height: 0;
          border-top: 5px solid transparent;
          border-left: 10px solid #fff;
          border-bottom: 5px solid transparent;
        }
      }
    }
  }
}

.flexibility {
  :global {
    .square {
      width: 3rem;
      height: 3rem;
      background-color: #F9FAFB;
      border-radius: 8px;
    }
    .limit {
      max-width: 30rem;
    }
  }
}

.contacts {
  background: url('/images/bg-gradient-medium.jpg') no-repeat center/cover;

  :global {
    .title {
      max-width: 25rem;
    }
    .links {
      max-width: 34rem;
    }
    .card {
      max-width: 14.375rem;
      padding: 1.5rem;
      top: 0;
      right: 2rem;
      transform: translateY(-50%);
      box-shadow: 14px 14px 58px rgba(0, 18, 86, 0.08);
      border-radius: 8px;
    }
  }
}