@import 'styles/variables';

.firstScreen {
  background-color: #F9FAFB;
}
.mainImageWrap {
  max-width: 1120px;
  aspect-ratio: 2/3;
  border-radius: 16px;
  @media (min-width: $sm) {
    aspect-ratio: 2/1;
  }
  &::after {
    content: '';
    display: block;
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.28);
  }

  :global {
    .article-title {
      max-width: 660px;
      text-transform: capitalize;
      z-index: 1;
      font-size: 32px;
      @media (min-width: $lg) {
        font-size: 64px;
      }
    }
    .wrap {
      z-index: 1;
      flex-direction: column;
      @media (min-width: $sm) {
        flex-direction: row;
      }
    }
    .featured {
      padding: 0.25rem 0.5rem;
    }
  }
}

.textContentWrapper {
  max-width: 58rem;
  margin-left: auto;
  margin-right: auto;
  :global {
    .description {
      text-transform: capitalize;
    }
  }
}

.articleContent {
  :global {
    h2 {
      font-size: 32px;
      font-weight: 600;
      line-height: 140%;
      color: #000000;
      margin-top: 4rem;
      margin-bottom: 1rem;
    }
    h3 {
      font-size: 20px;
      font-weight: 600;
      line-height: 150%;
      color: #171D23;
      margin-top: 1.5rem;
      margin-bottom: 0.5rem;
    }
    p {
      &::after {
        content: '\00A0';
      }
    }
    a {
      color: $color-blue;
    }
    img:not([class*='float']) {
      aspect-ratio: 5/4;
      object-fit: cover;
      @media (min-width: $lg) {
        aspect-ratio: initial;
        object-fit: initial;
      }
    }

    .body {
      &::after {
        content: '';
        display: block;
        clear: both;
      }
    }
  }
}

.afterContent {
  background-color: #F3F5FF;
  border-radius: 16px;
  :global {
    .medium-title {
      font-size: 26px;
      color: $color-blue;
      margin-top: 0;
      @media (min-width: $lg) {
        font-size: 32px;
      }
    }
  }
}

.related {
  background: url('/images/bg-gradient-large.jpg') no-repeat center/cover;
  :global {
    .wrapper {
      grid-template-columns: repeat(1, 1fr);
      @media (min-width: $sm) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media (min-width: $xl) {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}