@import 'styles/variables';

.firstScreen {
  //background: #FFF1EC url('/images/bg-gradient-medium.jpg') no-repeat center/cover;
  background-image: url("/images/lines.png"),  url('/images/bg-gradient-medium.jpg'), linear-gradient(130.77deg, #FFFFFF 18.52%, #ECECEC 86.63%);
  background-repeat: no-repeat;
  background-size: contain, cover, cover;
  background-position: right center, center, center;

  :global {

  }
}

.content {
  :global {
    .text-wrap {
      max-width: 31rem;
    }
    .tutor {
      padding: 1.25rem;
      right: -2rem;
      bottom: 4rem;
      box-shadow: 0 8px 19px rgba(0, 0, 0, 0.1);

      .line {
        display: inline-block;
        width: 32px;
        height: 4px;
        border-radius: 2px;
        margin-right: 4px;
      }
    }
  }
}