@import 'styles/variables';

.firstScreen {
  //background: #FFF1EC url('/images/bg-gradient-medium.jpg') no-repeat center/cover;
  background-image: url("/images/lines.png"),  url('/images/bg-gradient-medium.jpg'), linear-gradient(130.77deg, #FFFFFF 18.52%, #ECECEC 86.63%);
  background-repeat: no-repeat;
  background-size: contain, cover, cover;
  background-position: right center, center, center;

  :global {
    .main-title {
      max-width: 20rem;
      @media (min-width: $sm) {
        max-width: initial;
      }
    }
  }
}

.content {
  :global {
    @media (min-width: $lg) {
      .reverse_lg {
        flex-direction: row-reverse;
      }
    }
    .text-wrap {
      @media (min-width: $lg) {
        max-width: 31rem;
      }
    }
    .tutor {
      padding: 0.5rem;
      right: -0.5rem;
      bottom: 4rem;
      box-shadow: 0 8px 19px rgba(0, 0, 0, 0.1);
      @media (min-width: $lg) {
        padding: 1.25rem;
        right: -1rem;
      }

      .line {
        display: inline-block;
        width: 16px;
        height: 4px;
        border-radius: 2px;
        margin-right: 4px;
        @media (min-width: $lg) {
          width: 26px;
        }
      }
    }
  }
}

.popupWrapper {
  position: fixed;
  z-index: 15;
  inset: 0;
  background-color: #FFFFFF;

  :global {
    .close {
      position: absolute;
      top: 1rem;
      right: 1rem;
      font-size: 2rem;
    }
  }
}