@import 'styles/variables';

.block {}
.card {
  max-width: 66rem;
  background: url('/images/bg-form.jpg') no-repeat center/cover;
  transform: translate(0, 5.5rem);

  :global {
    .form {
      max-width: 34rem;
      min-height: 25rem;
      color: $default-text-color;
      select {
        padding: 15px;
      }
      input, textarea {
        font: inherit;
      }
      input:focus {
        outline-width: 1px;
        outline-color: $color-blue;
      }
      input[type="radio"] {
        width: 0;
        height: 0;
        opacity: 0;
      }
      input[type="radio"] + span {

      }
      input[type="radio"]:checked + span {
        font-weight: 600;
        color: $color-blue;
        border-color: $color-blue;
      }
      .btn {
        padding: 1rem;
      }
      .btn-gray {
        min-width: 56px;

      }
      .btn-blue {
        min-width: 11rem;
      }
      .round {
        width: 4rem;
        background: rgba(245, 124, 64, 0.2);
      }
    }
  }
}
.contacts {
  padding-top: 12rem;
  background: url('/images/bg-gradient-medium.jpg') no-repeat center/cover;

  :global {
    .title {
      max-width: 25rem;
    }
    .links {
      max-width: 34rem;
    }
  }
}