@import 'styles/variables';

.firstScreen {
  background: url('/images/bg-gradient-large.jpg') no-repeat center/cover;
  padding-bottom: 15rem;

  :global {
    .search {

    }
  }
}

.cardsWrap {
  margin-top: -10rem;
  z-index: 2;

  :global {
    .search {
      max-width: 50%;
      .svg-wrap {
        position: absolute;
        top: 0.25rem;
        left: 0;
      }
      input {
        padding: 0.5rem 2rem;
        background-color: transparent;
        border: none;
        outline: none;

        &:focus {
          outline: none;
          border-bottom: 1px solid rgba(23, 29, 35, 0.1);
        }
      }
    }
    .sorting {
      select {
        min-width: 160px;
        background-color: transparent;
        border-color: rgba(23, 29, 35, 0.1);
      }
    }
    .wrapper {
      grid-template-columns: repeat(1, 1fr);
      @media (min-width: $sm) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media (min-width: $xl) {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    .pagination {
      .pagination-item {
        &:hover {
          .circle {
            background-color: $color-blue !important;
          }
          .svg-wrap svg path {
            stroke: $color-white !important;
          }
        }
      }
    }
  }
}

// Lorem ipsum dolor sit amet, consectetur adipisicing elit.
// Animi deserunt distinctio eveniet explicabo facere illum quis ullam, vitae.
// A amet consequuntur cumque dolor eos esse illo
// ipsa molestiae optio porro, possimus quos sint, ut velit veniam?
// Culpa delectus dolor esse eveniet ex magnam nisi,
// repellendus voluptas voluptate!
// Ad aliquam aperiam blanditiis commodi
// consectetur consequuntur cumque, dolore eius error eveniet facere
// fugit illo laborum minima natus numquam odit officiis pariatur perspiciatis
// quis quos repellendus reprehenderit
// sapiente sint sunt totam ullam unde voluptatem voluptates voluptatum? Aliquam assumenda at beatae distinctio dolorem enim esse et excepturi explicabo harum id illo laudantium magnam maiores, modi molestiae, molestias nesciunt nostrum officia perferendis quisquam ratione repellat sapiente, totam vero! Consequuntur dolorum est id illum, laudantium libero maiores minus natus porro tempore. A distinctio doloremque dolores eligendi itaque magni nihil officia officiis repellat sit. Ab beatae consectetur dignissimos facere nobis ratione reprehenderit repudiandae sapiente vitae. Amet aperiam culpa earum esse est exercitationem illum in officia perferendis, placeat, porro quaerat qui sit unde, voluptates? A accusantium, alias consequuntur debitis delectus dicta dolorem earum esse ipsa maxime natus officiis omnis praesentium provident qui quod reiciendis ullam velit! Alias aspernatur aut dignissimos eaque, excepturi fugiat harum omnis placeat quasi repellat?
//