@import 'styles/variables';

.reviews {
  z-index: 1;

  :global {
    .bg-image {
      top: 0;
      left: 0;
      right: 0;
      z-index: -1;
      bottom: 120px;
      position: absolute;
    }
    .pseudo {
      @media (min-width: $lg) {
        font-size: 22px;
      }
    }
    .card {
      box-shadow: 14px 14px 58px rgba(0, 18, 86, 0.03);
    }
    .content {
      max-width: 54rem;
    }
    .author {
      display: block;
      @media (min-width: $lg) {
        display: inline-block;
        padding-right: 1rem;
        margin-right: 1rem;
        border-right: 1px solid #000000aa;
      }
    }
  }
}
