@import 'styles/variables';

.firstScreen {
  background: #fff1ec url('/images/bg-gradient-medium.jpg') no-repeat center/cover;

  :global {
    .container {
      text-align: left;
      max-width: 60rem;

      @media (min-width: $lg) {
        text-align: center;
      }

      @media (min-width: $xl) {
        max-width: 74rem;
      }

      .description {
        @media (min-width: $lg) {
          margin-left: auto;
          margin-right: auto;
        }
      }
    }

    code {
      display: block;
    }

    .btn {
      min-width: 11rem;

      @media (min-width: $lg) {
        min-width: 13.5rem;
      }
    }

    .left-card {
      left: 0;
      top: 60%;
      width: 100%;
      display: none;
      line-height: 1.5;
      max-width: 7.5rem;
      position: absolute;
      border-radius: 8px;
      padding: 2.5rem 1rem 1rem;
      transform: rotate(-8deg);
      filter: drop-shadow(14px 14px 58px rgba(0, 18, 86, 0.08));

      .circle {
        top: 0;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
      }
      @media (min-width: $lg) {
        display: block;
      }
    }

    .right-card {
      top: 75%;
      right: 0;
      display: none;
      padding: 1rem;
      text-align: left;
      line-height: 1.5;
      margin-top: 3rem;
      margin-left: auto;
      border-radius: 8px;
      max-width: 12.6rem;
      transform: rotate(6deg);
      box-shadow: 14px 14px 58px rgba(0, 18, 86, 0.04);

      @media (min-width: $lg) {
        display: flex;
        position: absolute;
        margin-left: initial;
        margin-top: initial;
      }

      .svg-wrap {
        margin-right: 12px;
      }
    }

    .academy {
      right: 2rem;
      bottom: 1.7rem;
      transform: rotate(16deg);

      svg {
        width: 56px;
        height: 56px;
      }

      @media (min-width: $lg) {
        display: none;
      }
    }
  }
}

.content {
  :global {
    .container {
      & > .flex {
        row-gap: 2rem;
        flex-wrap: wrap;
        justify-content: center;

        @media (min-width: $lg) {
          flex-wrap: nowrap;
          justify-content: space-between;
        }
      }

      p {
        &:not(:last-child) {
          margin-bottom: 0.75rem;

          @media (min-width: $lg) {
            margin-bottom: 1.5rem;
          }
        }
      }
    }

    .image-wrap {
      width: 85%;
      max-width: 400px;

      @media (min-width: $lg) {
        max-width: 23.5rem;
      }
    }

    .card {
      bottom: 1rem;
      padding: 12px;
      font-size: 12px;
      max-width: 8.2rem;
      box-shadow: 14px 14px 58px rgba(0, 18, 86, 0.08);

      @media (min-width: $lg) {
        padding: 16px;
        bottom: 3.3rem;
        font-size: 16px;
        max-width: 11rem;
      }
    }

    .circle {
      top: 1.3rem;
      margin-left: 1.3rem;
    }

    .exams {
      right: 0;
      gap: 8px;
      top: 1rem;
      padding: 8px;
      max-width: 8.4rem;
      box-shadow: 14px 14px 58px rgba(0, 18, 86, 0.04);

      @media (min-width: $lg) {
        top: 4rem;
        gap: 16px;
        padding: 16px;
        font-size: 16px;
        max-width: 11rem;
      }
    }
  }
}

.flexibility {
  background-color: $color-light-gray;

  :global {
    .section-row {
      row-gap: 1rem;
      @media (min-width: $lg) {
        gap: 5rem;
        &:not(.reverse_lg) {
          row-gap: 4rem;
        }
      }
    }
    .image-wrap {
      margin: 0;
      max-width: 32.5rem;
    }
    .limit {
      @media (min-width: $lg) {
        max-width: 25rem;
        margin-top: 4rem;
      }
    }
    .reverse_lg {
      @media (min-width: $lg) {
        flex-direction: row-reverse;
      }
    }
  }
}

.reviews {
  padding-top: 0;
  @media (min-width: $lg) {
    padding-top: 1rem;
  }

  &:before {
    background: $color-light-gray;
  }
}

.contentList {
  :global {
    .section-row {
      gap: 2rem;
      @media (min-width: $lg) {
        gap: 6rem;
      }
      .image-wrap {
        margin-left: auto;
        margin-right: auto;
        img {
          max-width: 15.5rem;
          @media (min-width: $lg) {
            max-width: 25.78rem;
          }
        }
        .tutor {
          bottom: 24px;
          left: -16px;
          padding: 0.5rem 0.75rem;
          @media (min-width: $lg) {
            padding: 1rem;
            bottom: 48px;
            left: -56px;
          }
          .line {
            display: inline-block;
            width: 14px;
            height: 2px;
            border-radius: 2px;
            margin-right: 2px;
            @media (min-width: $lg) {
              width: 26px;
              height: 3px;
              margin-right: 4px;
            }
            &:last-child {
              opacity: 0.5;
            }
          }
        }
        .statement {
          top: 24px;
          right: -24px;
          color: $color-white;
          background-color: $default-text-color;
          @media (min-width: $lg) {
            top: 48px;
            right: -48px;
          }
        }
      }
      .text-wrap {
        @media (min-width: $lg) {
          flex: 1;
          max-width: 34.5rem;
        }
      }
      .ordered-list {
        li {
          align-items: flex-start;

          &::before {
            margin-right: 1rem;
          }
        }
      }
    }
  }
}

.contacts {
  :global {
    .medium-title {
      max-width: 45rem;
      margin-bottom: 16px;
    }
    p {
      max-width: 45rem;
      color: rgba(23, 29, 35, 0.9);
    }
  }
}
