@import 'styles/variables';

.firstScreen {
    background-image: url('../../../assets/images/lines.png'), linear-gradient(130.77deg, #FFFFFF 18.52%, #ECECEC 86.63%);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right center;
    padding-top: 150px;

    :global {
        .text-wrapper {
            max-width: 30rem;
        }
        .description {
            font-size: 1rem;
            font-weight: 500;
            @media (min-width: $lg) {
                font-size: 1.25rem;
                font-weight: 400;
            }
        }
        .blue-book {
            width: 5.5rem;
            top: 72px;
            left: 32px;
            box-shadow: 14px 14px 58px rgba(0, 18, 86, 0.08);
        }
        .lesson1 {
            top: 135px;
            right: -50px;
            max-width: 120px;
            padding: 1.5rem 1.25rem 1.125rem 1.25rem;
            .play {
                width: 3.25rem;
                cursor: pointer;
                &::after {
                    content: '';
                    display: block;
                    width: 0;
                    height: 0;
                    border-top: 5px solid transparent;
                    border-left: 10px solid $color-white;
                    border-bottom: 5px solid transparent;
                }
            }
        }
        .tutor {
            padding: 1.25rem;
            bottom: 180px;
            left: -50px;
            .line {
                display: inline-block;
                width: 32px;
                height: 4px;
                border-radius: 2px;
                margin-right: 4px;
                &:last-child {
                    opacity: 0.5;
                }
            }
        }
    }
}

.study {
    padding-top: 148px;
    padding-bottom: 148px;

    :global {
        .cards-wrapper {
            margin-top: 148px;
        }
        .card-1 {
            flex: 4;
            .title {
                max-width: 330px;
            }
        }
        .card-2 {
            flex: 3;
            .title {
                max-width: 195px;
            }
            .logo {
                align-self: flex-end;
            }
        }
        .card-3 {
            flex: 3;
            .title {
                max-width: 220px;
            }
            .tag {
                display: inline-block;
                padding: 1px 8px;
                background: #F3F4F4;
                border-radius: 4px;
                margin-right: 8px;
                margin-bottom: 8px;
            }
        }
    }
}

.tutors {
    :global {
        .card {
            &:hover {
                text-decoration: none;
                background-color: #F8F9FE;
                border-color: $color-blue;
                .arrow {
                    background-color: $color-blue;
                    border-color: $color-blue;
                    svg {
                        path {
                            fill: $color-white;
                        }
                    }
                }
            }
            .arrow {
                width: 3rem;
                height: 3rem;
            }
            .avatar {
                width: 8.5rem;
                height: 8.5rem;
                img {
                    object-fit: cover;
                }
            }
        }
    }
}

.premium {
    :global {
        .card {
            max-width: 14.5rem;
            box-shadow: 14px 14px 58px rgba(0, 18, 86, 0.08);
            top: -2.5rem;
            right: 2rem;
        }
        .check-book {
            left: 2rem;
            bottom: 2rem;
            width: 74px;
            box-shadow: 0 8px 19px rgba(0, 0, 0, 0.1);
        }
        .btn {
            min-width: 10rem;
        }
        li {
            counter-increment: index;
            display: flex;
            align-items: flex-start;

            + li {
                margin-top: 3rem;
            }
            &::before {
                content: "0" counter(index);
                display: block;
                width: 44px;
                min-width: 44px;
                height: 44px;
                border-radius: 50%;
                background: rgba(245, 124, 64, 0.12);
                font-weight: 600;
                line-height: 44px;
                text-align: center;
                letter-spacing: 0.03em;
                color: #F57C40;
                margin-right: 2rem;
            }
        }
    }
}

.globally {
    :global {
        .title {
            max-width: 40rem;
        }
        .map {
            min-height: 37rem;
            background: url('/images/bg_map.png') no-repeat center/cover;
        }
        .avatar {
            width: 6.75rem;
            height: 6.75rem;
            color: #046663;
            img {
                padding: 0.25rem;
                object-fit: cover;
            }
        }
        .logo_1 {
            top: 15%;
            left: 10%;
        }
        .logo_2 {
            bottom: 4%;
            left: 27%;
        }
        .logo_3 {
            top: 50%;
            left: 47%;
        }
        .logo_4 {
            top: 0;
            right: 36%;
        }
        .logo_5 {
            top: 40%;
            right: 20%;
        }
        .logo_6 {
            top: 3%;
            right: 9%;
        }
        .card_1 {
            max-width: 12.5rem;
            box-shadow: 0 8px 19px rgba(0, 0, 0, 0.1);
            top: 23%;
            left: 31%;
        }
        .card_2 {
            max-width: 10rem;
            background-color: #171D23;
            color: $color-white;
            box-shadow: 0 17px 17px -6px rgba(13, 19, 21, 0.08);
            bottom: 10%;
            left: 8%;
        }
        .card_3 {
            max-width: 20rem;
            box-shadow: 0 8px 19px rgba(0, 0, 0, 0.1);
            right: 8%;
            bottom: 0;
        }
        .play {
            width: 2.625rem;
            cursor: pointer;
            &::after {
                content: "";
                display: block;
                width: 0;
                height: 0;
                border-top: 5px solid transparent;
                border-left: 10px solid $color-black;
                border-bottom: 5px solid transparent;
            }
        }
    }
}

.interactive {

}
