# Public Environment variables that can be used in the browser.
NEXT_PUBLIC_BASE_URL=http://localhost:3000

NEXT_PUBLIC_SANITY_PROJECT_ID=''
NEXT_PUBLIC_SANITY_DATASET=prod
NEXT_PUBLIC_SANITY_API_TOKEN=''
NEXT_PUBLIC_SANITY_API_VERSION=v1
NEXT_PUBLIC_SANITY_SCHEME_NAME=default
NEXT_PUBLIC_GEOLOCATION_API_KEY=''
